<html>
<body >
<link rel="stylesheet" type="text/css" href="style.css">

<ul>
  <li><a  href="/">Home</a></li>
  <li><a href="/loginview">Login</a></li>
  <li><a href="/registerview">Register</a></li>
 
</ul>
<input type="text" name="search" placeholder="Search..">


</body>
</html>