<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl"> 

<p>Today's welcome message is:</p>

<ul ng-repeat="x in names">
<li> {{x.records.Country}}</li>
</ul>
 


</div>

<p>The $http service requests a page on the server, and the response is set as the value of the "myWelcome" variable.</p>

<script>


var app = angular.module('myApp', []);
app.controller('myCtrl',function($scope, $http) {
  $scope.Country = [];

  $http.get("../sample.json").then(function(response){
  	$scope.Country=response;
  	console.log(Country);
  })

  $http.get("/stock/getQuotes")
  .then(function(response) {
  	$scope.names={};
     $scope.names= response.data;
     console.log(names);
  });

});
</script>

</body>
</html>
