<html>
<body >
<link rel="stylesheet" type="text/css" href="style.css">

<ul>
  <li><a  href="/">Home</a></li>
  <li><a href="/loginview">Login</a></li>
  <li><a href="/registerview">Register</a></li>

</ul>

<form action="/data/login" method="POST">
<label > EmailId</label></br>
<input type="text" name="EmailId">
</br>
<label > Password</label></br>
<input type="password" name="Password">
</br>
</br>
<input type="submit" value="Login">
</form>


</body>
</html>