<html>
<body >
<link rel="stylesheet" type="text/css" href="style.css">

<ul>
  <li><a  href="/">Home</a></li>
  <li><a href="/loginview">Login</a></li>
  <li><a href="/registerview">Register</a></li>
 
</ul>


<form action="/data/register" method="POST">
<label> Name</label></br>
<input type="text" name="Name">
</br>
<label> LastName</label></br>
<input type="text" name="LastName">
</br>
<label > MobileNo.</label></br>
<input type="text" name="MobileNo">
</br>
<label > EmailId</label></br>
<input type="text" name="EmailId">
</br>
<label > Password</label></br>
<input type="password" name="Password">
</br>
<label > City</label></br>
<input type="text" name="City">
</br>
<label > Country</label></br>
<input type="text" name="Country">
</br>
<label > Address</label></br>
<input type="text" name="Address">
</br>
</br>
<input type="submit" value="Register">
</form>


</body>
</html>